* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: black;
}

.content {
   display: flex;
}

.bloco {
    display: flex;
    position: relative;
    background: white;
    display: inline-block;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.type-area {
    flex: 1;
}

.type-area textarea {
    resize: none;
    overflow: hidden;
    width: 500px;
}

.type-area textarea:hover {
    background-color: tomato;
    color: white;
}

.type-area textarea:focus {
    background-color: tomato;
    color: white;
}

.notes {
    flex: 1;
}

.notes textarea {
    resize: none;
    overflow: auto;
    width: 500px;
    height: 500px;;
    background: lightgray;
    border: 0 none;
    border-top: 2px solid blueviolet;
    border-bottom:  2px solid blueviolet;
}

.save {
    background-color: violet;
   color: white
}


/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    .type-area textarea {
        width: 480px;
    }
    .notes textarea {
        width: 480px;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    /* estilos aqui */
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
}

/* Desktop grande */
@media (min-width: 1200px) {
   /* estilos aqui */
}